body{
    background-color: lightpink;
    
}
.yoh{
    font-size: xx-large;
}
.picss1{
    width:1000px;
}
.picss2{
    width:1000px;
}
.picss3{
    width:1000px;
}
.picss4{
    width:1000px;
}
.picss5{
    width:500px;
}
.yes{
    font-size: xx-large;
}